<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>Mon Application</title>
<link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <h1>Node.js, Express et MongoDB.</h1>
        <button id='update'>Mise à jour téléphone</button>
        <form action="/adresse" method="POST">
            <input type="text" placeholder="nom" name="nom">
            <input type="text" placeholder="prenom" name="prenom">
            <input type="text" placeholder="telephone" name="telephone">
            <input type="text" placeholder="ville" name="ville">
            <input type="text" placeholder="postal" name="postal">
            <button type="submit">Submit</button>
        </form>
    </header>
    <section>
        <ul class="adresse">
            <% for(var i=0; i<adresse.length; i++) {%>
            <li class="client">
                <span><%= adresse[i].nom %></span>
                <span><%= adresse[i].prenom %></span>
                <span><%= adresse[i].telephone %></span>
                <span><%= adresse[i].ville %></span>
                <span><%= adresse[i].postal %></span>
            </li>
            <% } %>
        </ul>
    </section>
    <script type="text/javascript" src="modifier_adresse.js"></script>

</body>
</html>
